* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(0deg,rgb(30, 30, 30), rgb(59, 59, 59));
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper, #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
}

#search, button {
    border: 3px solid red;
    padding: 8px 20px;
    border-radius: 25px;
    background-color: transparent;
    color: rgb(200, 200, 200);
}

button:hover {
   color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

li {
    width: 400px;
    padding: 10px;
    color: rgb(200, 200, 200);
}

